.store-page {
    margin: 50px 100px 0 100px;

    .info-message {
        color: white;
        font-weight: bolder;
        //#DCB829
        //#DF744A
    }

    .rounded-card {
        border-radius: 24px;
    }

    .go-button {
        background-color: #FEDCD2;
        border-color: #FEDCD2;
    }
}