.product-search-page {
	display: grid;
	grid-template-columns: 1fr 250px 3fr 1fr;
	grid-template-rows: 60px 1fr;
	grid-template-areas:
		". breadcrumb . ."
		". menu list .";
	height: 100vh;

	.breadcrumb-bar {
		grid-area: breadcrumb;
		margin: 15px 0 15px 0;
	}

	.categories-menu {
		grid-area: menu;
	}

	.product-list-container {
		grid-area: list;
		padding: 40px 60px 40px 60px;

		.product-name {
			color: #DF744A;
			font-weight: bold;
			font-size: 1.1rem;
		}

		.list-pagination, .ant-pagination-item-link, .ant-pagination-item > a {
			color: white;
		}

		.ant-pagination-item-active > a, .ant-select-arrow, .ant-select-selector {
			color: #DF744A;
		}
	}

}