.product-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& > div {
		margin: 30px;
	}

	.carousel-container {
		width: 90%;
		height: 400px;

		.img {
			width: 100%;
			height: 100%;
		}

		.ant-carousel .slick-slide {
			text-align: center;
			height: 400px;
			line-height: 400px;
			background: white;
			overflow: hidden;
		}

		.slick-dots li.slick-active button,
		.slick-dots li button {
			background: @primary-color;
		}
	}

	.details-container {
		display: flex;
		flex-direction: column;
		padding: 40px;
		border: 0.5px solid white;
		width: 90%;

		.product-name h1 {
			color: @primary-color;
			font-weight: bold;
		}

		.product-price h2 {
			color: #DCB329;
			font-weight: bolder;
		}

		.detail-item {
			color: white;
			font-size: 1.1rem;
			margin: 15px 0 15px 0;
			font-weight: bold;
		}

		.size-item-list-container {
			display: flex;
			flex-flow: wrap;
			justify-content: center;

			.size-item-container {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: row;
				background-color: white;
				margin: 10px;
				padding: 5px 15px 5px 15px;

				.size-item {
					color: @primary-color;
				}

				.size-item-fade {
					opacity: 30%;
				}
			}
		}

		.care-image {
			margin-top: 10px;
			align-self: center;
		}
	}
}

@media only screen and (min-width: 576px) {
	.product-detail {
		.carousel-container {
			width: 50%;
		}
		.details-container {
			width: 50%;
		}
	}

}

@media only screen and (min-width: 768px) {
	.product-detail {
		.carousel-container {
			width: 400px;
			height: 500px;

			.ant-carousel .slick-slide {
				height: 500px;
				line-height: 500px;
			}
		}
		.details-container {
			width: 60%;
		}
	}
}

@media only screen and (min-width: 992px) {
	.product-detail {
		.carousel-container {
			width: 500px;
			height: 600px;

			.ant-carousel .slick-slide {
				height: 600px;
				line-height: 600px;
			}
		}
		.details-container {
			width: 500px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.product-detail {
		display: grid;
		grid-template-columns: 2fr 3fr 3fr 2fr;
		grid-template-rows: 60px 1fr;
		grid-template-areas: ". breadcrumb . ." ". image detail .";

		.breadcrumb-bar {
			grid-area: breadcrumb;
		}

		.carousel-container {
			grid-area: image;
		}

		.details-container {
			grid-area: detail;
			height: 600px;
			justify-content: space-between;
			.size-item-list-container {
				.size-item-container:first-child {
					margin-left: 0;
				}

				.size-item-container:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
