.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0 20px 0;
	background-color: #DF744A;

	.title {
		color: white;
		font-weight: bolder;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 1.5rem;
		text-decoration: underline overline white;
	}

}